<section class="hero hero--bg-gradient">
    <!--<img class="hero__background-image lazyload" data-src="//images.unsplash.com/photo-1495815571604-8f4858cd8767?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=60db5dae2d282b6f565e4dfc1e30bdfc&auto=format&fit=crop&w=1791&q=80">-->
    <div class="hero__content wrapper">
        <div class="hero__logo"></div>
        <h1 class="hero__title">Testing Parcel Bundler</h1>
        <p class="hero__subtitle">blah blah blah.</p>
        <div class="hero__btn-container">
            <a href="#" class="btn btn--primary">A button</a>
        </div>
    </div>
</section>