/*********************************************************
  Buttons
*********************************************************/
.btn {
    display: inline-block;
    padding: rem(8) rem(10);
    font-size: font-scale(0);
    color: $color__white;
    background-color: $color__primary;
    border-radius: rem(2);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover, &:focus {
      text-decoration: none;
      color: $color__white;
      background-color: $color__primary--dark;
    }
  
    &--secondary {
      background-color: $color__secondary;
      &:hover, &:focus {
        background-color: $color__secondary--dark;
      }
    }
  
    &--transparent {
      color: $color__white;
      background-color: transparent;
      border: 2px solid $color__primary;
      &:hover, &:focus {
        background-color: $color__primary;
        border-color: $color__primary--dark;
      }
    }
  
    &--large {
      padding: rem(15) rem(25);
      font-size: rem(18);
    }
  
    &--disabled {
      opacity: 0.8;
      cursor: not-allowed;
    }
  
  }