/*********************************************************
    Px to Rem Conversion
    Usage: .class {font-size: rem(18)}
*********************************************************/
$baseFontSize : 16; 
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}


/*********************************************************
    Media Query Breakpoints
    Mobile first approach
    Default rules are set below sm-sized screens
    Usage:
    @include bp_md {
      width: 50%;
    }
*********************************************************/

// above bp_sm
@mixin bp_sm {
    @media (min-width: #{$bp_sm}) {
      @content;
    }
  }
  
  // above bp_md
  @mixin bp_md {
    @media (min-width: #{$bp_md}) {
      @content;
    }
  }
  
  // above bp_lg
  @mixin bp_lg {
    @media (min-width: #{$bp_lg}) {
      @content;
    }
  }